@font-face {
	font-family: "Roboto";
	src: url("./../fonts/Roboto-Medium.ttf") format("ttf");
}

/*	Safari hacks...
...<audio> element volume UI */
div#dropTarget {
	overflow: inherit;
}

/* Disable audio UI altogether...unstable */
div#dropTarget.notSupported {
	display: none;
}

/*	*/
[uk-form-custom]>button {
	font-size: 75%;
	padding-left: 15px;
	padding-right: 15px;
}

audio,
audio:focus {
	height: 2.25em;
	outline: none;
}

audio::-webkit-media-controls-volume-slider-container {
	display: none !important;
}

div#dropTarget audio:not([hidden]) ~ svg {
	display: none;
}

button[uk-icon].uk-button-small {
	color: rgb(144, 144, 144);
	padding-left: 15px;
	border: none;
}

div#pnlSession:not(.connected) {
	visibility: hidden;
}

/*
div#pnlSession.connected {
	visibility: inherit;
}
*/
div.alert {
	display: none;
}

span.uk-icon:not(.connected),
span:not(.connected) svg.uk-svg {
	opacity: 0.25;
}

span.uk-icon.connected[uk-icon="bolt"] {
	color:
		/*blue;*/
		#39f;
}

span.uk-icon.connected[uk-icon="link"] {
	color: red;
}

/* Speaker icon in Sub mode */
span.connected svg.uk-svg {
	color:
		/*#39f;*/
		purple;
}

div.gotFile {
	visibility: hidden;
}

div.gotFileActive div.gotFile {
	visibility: inherit;
}

div.gotFileActive div.preCover {
	background-color: inherit;
	position: absolute;
	text-align: right;
	top: 0;
	width: 100%;
}

div.gotFileActive span.gotFile {
	display: none;
}

div.preCover {
	background-color: rgba(255, 255, 255, 1.0);
}

fieldset label {
	padding-top: 2px;
}

form#controls {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

form#controls div.disabled {
	opacity: 0.5;
	pointer-events: none;
}

input#inputPIN {
	width: 5.5em;
}

select[disabled],
select[disabled]+span {
	color: rgb(144, 144, 144);
	cursor: default;
}

span.gotFile {
	display: inline;
}

span.uk-label.click.disabled {
	background-color: #f8f8f8;
	border-color: #e5e5e5;
	color: #999;
}

span.uk-label.click:not(.disabled) {
	cursor: pointer;
}

form#controls div input[type="range"],
form#controls div span.uk-badge {
	border-width: 1px;
	border-style: transparent;
	border-color: red;
	transition: border-style 2s;
	transition: background 1s;
}

div.atLimit input[type="range"] {
	border-style: solid;
}

div.atLimit span.uk-badge {
	background: red;
}

div#powerLevel {
	cursor: default;
}

div.disabled div#powerLevel span {
	background-color: inherit;
	opacity: 50%
}

div.disabled div#powerLevel span.uk-label,
div:not(.disabled) div#powerLevel span.uk-label:not([selected]) {
	background-color: rgb(239, 239, 239);
	color: inherit;
}

div:not(.disabled) .interactive span.uk-label:not([selected]) {
	cursor: pointer;
}

.sub .uk-logo {
	color: #e70039 !important;
}

.uk-navbar-container.Dom {
	background: linear-gradient(to right, rgb(39, 30, 128), #000);
}

.uk-navbar-container.sub {
	background: linear-gradient(to right, #FFF, rgb(39, 30, 128));
}

.uk-grid>button {
	border: 1px solid #FFF;
}

.uk-grid>button:hover {
	font-weight: bold;
}

.uk-navbar-container, .uk-navbar-item {
	color: rgba(255, 255, 255, 0.8)
}

.uk-overlay span[uk-icon] {
	opacity: 0.25;
}
